$color-primary-0: #1fc1f6; 	// Main Primary color */
$color-primary-1: #00a6fb;
$color-primary-2: #006494;
$color-primary-3: #003554;
$color-primary-4: #25394d;

$color-primary-light: #eee;
$color-primary-dark: #111;
$color-primary-gray: #c9cccc;